 :root {
    --back-color: #1C1121;
    --theme-color2: #FFC010;
    --theme-color: #FF7E02;
}

 .tex {
    color: var(--theme-color2);
}

 .back {
    background-color: var(--back-color);
}

.bimg {
    background: url("../images/nft-collections.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem 0rem 30rem 0rem;
    position: relative;

}

 .re1 {
    position: absolute;

}

.fon {
    font-weight: 500;
}

.sec-shape {
    line-height: 1;
}

 .sec-shape_bar {
    display: inline-block;
    background-color: var(--theme-color2);
    height: 6px;
    width: 35px;
    margin-right: 15px;
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    transform: skewX(-45deg);
}
.sec-shape_bar:last-child {
    margin-right: 0;
    background-color: var(--theme-color);
}